/*
  firebase のこちらのキー情報は外部に公開しても問題ない設定らしい

  下記のようなことが公式にかかれています（https://firebase.google.com/docs/projects/learn-more?hl=ja）
  > Firebase 構成ファイルまたは Firebase 構成オブジェクトの内容は公開情報とみなされます。
    公開であるとみなされる情報としては、アプリのプラットフォーム固有の ID（iOS バンドル ID または Android パッケージ名）や 
    Firebase プロジェクト固有の値（API キー、プロジェクト ID、Realtime Database URL、Cloud Storage バケット名など）があります。
    このような点を考慮したうえで、Firebase セキュリティ ルールを使用し、
    Realtime Database、Cloud Firestore、Cloud Storage にあるデータとファイルを保護してください。
    オープンソース プロジェクトの場合、一般的に考えて、
    ソース管理にアプリの Firebase 構成ファイルや Firebase 構成オブジェクトを含めることはおすすめできません。
    ほとんどの場合、ユーザーは独自の Firebase プロジェクトを作成し、
    （独自の Firebase 構成ファイルまたは Firebase 構成オブジェクトを使用して）
    アプリが独自の Firebase リソースを参照するように設定すると想定されるからです。
 */
/* eslint-disable-next-line */
export const firebaseConfig = {
  apiKey: '',
  authDomain: '',
  projectId: '',
  storageBucket: '',
  messagingSenderId: '',
  appId: '',
};
