/*
  firebase のこちらのキー情報は外部に公開しても問題ない設定らしい
 */
/* eslint-disable-next-line */
export const firebaseConfig = {
  apiKey: '',
  authDomain: '',
  projectId: '',
  storageBucket: '',
  messagingSenderId: '',
  appId: '',
};
